@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&display=swap');
.skill li {
    font-size: 18px;
    line-height: 2rem;
    height: 2rem;
    padding-left: 5px;
    cursor: pointer;

  }
  li {
    list-style: none;
  }
  li:hover
  {
    background-color: #4899ea;
  }
  ul {
    height: 175px;
    width: 384px;
    float: left;
    margin-top: 5px;
    position: absolute;

    border-radius: 4px;
    border: 1px solid #cccccd;
    overflow: hidden;

  }
  #map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }